/* Importing Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.navbar .logo span {
    color: #C06B3E;
}

.navbar .menu-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: #C06B3E;
}

.hero {
    background-image: url(../img/hero-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero .content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    color: #fff;
}

.hero .content h2 {
    font-size: 48px;
    max-width: 600px;
    line-height: 70px;
}

.hero .content p {
    font-weight: 300;
    max-width: 600px;
    margin-top: 15px;
}

.hero .content button {
    background: #fff;
    padding: 12px 13px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 38px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.hero .content button:hover {
    color: #fff;
    background: #C06B3E;
}


#close-menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}

#hamburger-btn {
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header.show-mobile-menu::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }

    .navbar .logo {
        font-size: 1.7rem;
    }

    #hamburger-btn, #close-menu-btn {
        display: block;
    }

    .navbar .menu-links {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background: #fff;
        flex-direction: column;
        padding: 70px 40px 0;
        transition: left 0.2s ease;
    }

    header.show-mobile-menu .navbar .menu-links {
        left: 0;
    }

    .navbar .menu-links a {
        color: #000;
    }

    .hero .content {
        text-align: center;
    }

    .hero .content :is(h2, p) {
        max-width: 100%;
    }

    .hero .content h2 {
        font-size: 2.3rem;
        line-height: 60px;
    }
    
    .hero .content button {
        padding: 9px 18px;    
    }
}








































